*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman",sans-serif;
    color: white;
}

body{
    background-color: black;
    color: white;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 10%;
    background: transparent ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.header>.name{
    color: #24A8AA;
}

.nav a{
    font-size: 18px;
    color : white ;
    font-weight: 500;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

.nav a:hover{
    scale: 1.2;
    color: #24A8AA;
}



.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 100px 20px;
    text-align: center;
}

.homeContent h1 {
    font-size: 56px;
}
.homeContent h5, .homeContent h4 {
    font-size: 25px;
}
.homeContent p {
    font-size: 18px;
}

.homeIcon a {
    display: inline-block;
    margin: 10px;
    font-size: 24px;
    color: #24A8AA;
}

.homeImg  {
    width: 350px;
    height: 350px;
    position: relative;
    background-color: #24A8AA;
    border-radius: 100%;
    margin-top: 99px;
    margin-right: 61px;
    box-shadow: 10px 10px 91px 8px rgba(36,168,170,1);

}

.homeImg img{
    position: absolute;
    bottom: 0;
    display: flex;

    left: -10px;

}
.about{

    height: 100vh;
    display: flex;
    padding: 0 10%;
    gap: 15rem;

}

.aboutImg{
    width: 350px;
    height: 350px;
    position: absolute;
    background-color: grey;
    border-radius: 100%;
    box-shadow: 10px 10px 91px 8px rgba(36,168,170,1);
    top: 900px;

}

.aimg{
    position: absolute;
    bottom: 0;
    left: -10px;
}

.aboutContent{
    position: absolute;
    right: 200px;
    bottom: -400px;
    justify-content: space-between;
    max-width: 600px;
}

.aboutContent h2{
    border: 3px solid white;
    width: 250px;
    height: 80px;
    text-align: center;
    align-content: center;
}



.aboutContent h2{
    font-size: 40px;
    font-weight: 700;
}

.aboutContent p{
    font-size: 16px;
}

.aboutContent a >button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    color: black;
    align-content: center;

}

.aboutContent a >button:hover{
    background-color: #24A8AA;
}

.skill{
        position: relative;
        height: 100vh;
        display: flex;
        padding: 0 10%;
        gap: 15rem;
}

.skill h1{
    border: 3px solid white;
    width: 250px;
    height: 80px;
    position: absolute;
    text-align: center;
    align-content: center;
    font-size: 40px;
    font-weight: 700;
    left: 0;
    right: 0;
    top: 0;

    margin: auto;
}

.skill>.skillImg{
    display: flex;
    position: absolute;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    bottom: 500px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 600px;
    color: white;
}

.skill>.skillImg2{
    display: flex;
    position: absolute;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    bottom: 300px;
}

.section-title2 {
    font-size: 24px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 380px;
    color: white;
}

.Service{
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
}

.Service > div{
    border: solid white;
    height: 250px;
    width: 400px;
    background-color: black;
    margin-left: 150px;
    color: black;
    font-size: 24px;
    margin-top: 50px;
    border-radius: 30px;
}

.Service>div:nth-child(1){
    position: relative;
    left: 30px;
}

.Service>div:nth-child(2){
    position: relative;
    left: -80px;
}

.Service>div:nth-child(3){
    position: relative;
    left: -200px;
}



.Service>div>h5{
    color: #18b2b5;
    text-align: center;
    text-decoration: underline;
}

.Service>div>p{
    margin-top: 20px;
}

.Service > div:hover{
    scale: 1.1;
    color: black;
    background-color: #24a8aa;
    filter: drop-shadow(2px 2px 40px #60ebec);

}

.Service>div>h5:hover{
    color: black;
}





#service {
    border: 5px solid white;
    width: 250px;
    height: 80px;
    text-align: center;
    align-content: center;
    margin-top: 50px;
    margin-left: 40%;
}


.myworks{
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    /*grid-template-rows: repeat(2,1fr);*/

}

.myworks>div{

    width: 20vw;
    height: 350px;

    background: white;
    border-radius: 20px;

    margin: 32px 32px 32px 32px;

    /*padding: 30px 30px 30px 30px;*/

}

.myworks>div h3{
    position: relative;
    top: 10px;
    color: black;
    text-align: center;
}

.myworks>div img{
    position: relative;
    top: 20PX;
    left: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.myworks>div p{
    position: relative;
    top: 50px;

    color: black;
    text-align: center;
}

.myworks>div:hover{
    scale: 1.2;
    color: black;
    background-color: #24a8aa;
    filter: drop-shadow(2px 2px 40px #60ebec);
}

#myWork {
    border: 5px solid white;
    width: 250px;
    height: 80px;
    text-align: center;
    align-content: center;
    margin-top: 50px;
    margin-left: 40%;
}

#contact {
    border: 5px solid white;
    width: 250px;
    height: 80px;
    text-align: center;
    align-content: center;
    margin-top: 140px;
    margin-left: 40%;
}

#msg{
    position: absolute;
    width: 500px;
    height: 400px;
    left: 200px;
}

#msg>h1{
    margin-top: 20px;
    color: #24a8aa;
}

#msg>h5{
    margin-top: 20px;
    color: white;
    font-size: 20px;
}

.contact>div img{
    margin-top: 20px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #24A8AA;
    border-radius: 50%;
    font-size: 20px;
    color: #24A8AA;
    text-decoration: none;
}

#msg p{
    margin-left: 80px;
    margin-top: -30px;
    color: white;
}

form{
    position: relative;
    width: 350px;
    height: 330px;
    border: #035d60 solid;
    margin-left: 900px;
    margin-top: 140px;
    background: linear-gradient(90deg, transparent 5%, #18b2b5 100%);
    border-radius: 30px;
}

form>div{
    margin-left: 30px;
    margin-top: 20px;
}

form>div>input{
    margin-top: 10px;
}

form>div>button{
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
    margin-top: 15px;
    margin-left: 50px;
}

form>div>button:hover,
:focus {
    color: black;
    background: #60ebec;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #18b2b5, 0 0 20px #60ebec, 0 0 50px #18b2b5,
    0 0 100px #008cff;
}

footer{
    position: relative;
    margin-top: 200px;
    margin-left: 700px;
}

#button{
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin-left: 1200px;
    background-color: white;
    color: black;
    display: none;
}

@media all and (max-width: 700px){
    #button{
        display: block;
    }

    .nav{
        display: none;
    }

}







